/* ==UserStyle==
@name           Manganato Rose Pine
@namespace      https://github.com/MarcusV8/CSS-Codes
@version        1.0
@description    Rose Pine Style for Manganato and Chapmanganato.
@author         Me
==/UserStyle== */

@-moz-document domain("chapmanganato.to"), domain("manganato.com") {
     :root {
          --C1: #191724;
          --C2: #232136;
          --C3: #393552;
          --C4: #E0DEF4;
          --B1: 1px solid var(--C4);
          --BR1: 15px;
          --BR2: 5px;
     }
     * {
          color: var(--C4) !important
     }
     body,
     html {
          background: var(--C2) !important;
     }
     input,
     select,
     textarea {
          background-color: var(--C1) !important;
          border: 1px solid var(--C4) !important;
          border-radius: var(--BR1);
     }
     img:not([src*=".svg"]) {
          border-radius: var(--BR1);
      }
                                            
     /* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■/ Background /■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
                    
     /* Header */ .container-header-top, .header-menu, .logo,
     /* Panel */ .panel-content-homepage, .content-homepage-more.a-h, .panel-topview-item,
     /* Sub Panels */ .panel-category .pn-category-row,
     /* Hover */ .stickytooltip, #SearchResult ul {
          background-color: var(--C3) !important;
     }
      .container-header .logo {
          margin-right: 0px;
          width: 230px;
     }
          .container-footer-content, #panel-description-linear i {
          display: none !important;
     }
          .select {
             background-color: var(--C3) !important  
          }
     /* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■/ Title /■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
                     
      .container-header-top .box-user-options .user-name,
      .pn-category-story-title, .panel-content-homepage .content-homepage-title, .panel-topview-title, #search-footer{
            background-color: var(--C1) !important;
      }
      .content-homepage-title {
          margin: 0 !important;
          padding: 10px !important;
      }
    /* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ Borders ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

     .pn-category-story-title, .content-homepage-title, .user-name, .panel-topview-title, .container.container-header, .panel-content-homepage {
          border: var(--B1);
     }
     .pn-category-story-title, .content-homepage-title, .user-name, .panel-topview-title {
          border-radius: var(--BR2);
     }
     .container.container-header, .panel-content-homepage {
          border-radius: var(--BR1);
     }
     .pn-category-row.pn-category-row-border:first-of-type, .panel-topview-item:nth-of-type(1) {
          border-top: var(--B1) !important;
          border-radius: 15px 15px 0 0;
     }
     .pn-category-row:last-of-type, .panel-topview-item:nth-of-type(10), .content-homepage-more.a-h, .panel-newest-more.a-h {
          border-radius: 0 0 15px 15px;
          border-bottom: var(--B1) !important;
     }
     .pn-category-row, .content-homepage-more.a-h, .panel-newest-more.a-h, .panel-topview-item a {
          border-left: var(--B1);
          border-right: var(--B1);
     }
     .pn-category-row {
          width: calc(100% - 26px);
     }
     .content-homepage-more.a-h, .panel-newest-more.a-h {
          background-color: var(--C3) !important;
     }
     .container-main-left, .container-main-right {
          overflow: unset;
          margin-right: 5px;
     }
     /* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■/ Description Page and Search /■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
     
     .panel-story-info, .panel-story-chapter-list, .panel-search-story {
          background-color: var(--C3) !important;         
     }
     .fb-comment-title.fb-comment-title-show, .panel-advanced-search-tool .advanced-search-tool-title, .panel-list-comment {
          background-color: var(--C1) !important;                   
     }
}
@-moz-document domain("manganato.com") {
          /* Manganato */
          
     /* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■/ Bookmark  /■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

     .user-bookmark-content {
          margin-bottom: 0;
     }
     div[style*="float: left"] {
          display: none;
     }
     .user-bookmark-content .user-bookmark-item, .panel-breadcrumb {
       background: var(--C3);
       margin: 0 !important;
       border: var(--B1);
       border-radius: 15px;
     }
     .user-bookmark-page-number a.select, .user-bookmark-page-number a.go-p, .user-bookmark-page-number a.go-p-end, .user-bookmark-page-number .group-qty a, .user-bookmark-page-number a {
          background: var(--C1) ;
     }
     a[rel="nofollow"][style*="color: #e12a2a"] {
          filter: invert(1) brightness(4.5) hue-rotate(85deg);
     }
     .btn-remove {
          filter: brightness(1.8);
     }
  /* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■/ Panels And Titles  /■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
          
     .panel-newest-content {
          background-color: var(--C3) !important;
          border: solid white 1px;
          border-bottom: 0px;
          }
     .panel-newest-title,  .silder-title {
          background-color: var(--C1) !important;
          border: var(--B1);
          border-radius: var(--BR2);
     }
     .panel-topview, .container-silder, .panel-newest, .panel-category, body {
          border-top: none;
     }    
     .slide-caption {
          background: var(--C3) !important;
          opacity: 90%;
          border: var(--B1);
          border-radius: 15px 15px 0 0;
     }
}
@-moz-document domain("chapmanganato.to") {
         /* Chapmanganato */
           
           /* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■/ Miscellaneous  /■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
           
     .server-image {
          display: block ruby;
          margin-top: var(--BR1);
     }
     .panel-logo-chapter, .panel-breadcrumb, .panel-navigation, .panel-chapter-info-top {
               background-color: var(--C3) !important;
     }   
      .panel-fb-comment .fb-comment-title span {
          margin-left: 450px;
     }
     .panel-fb-comment .fb-comment-title, #top, .label-switch .switch-front {
          border-radius: var(--BR1) ;
          background-color: var(--C1);
     }
     .server-image-btn.a-h, .panel-chapter-info-top .server-image-btn.isactive {
          border-radius: var(--BR2) ;
          background-color: var(--C1);
     }
     .container-chapter-reader img {
          min-width: 1000px;
     }
           /* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■/ New Design  /■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
           
     .body-site>.container:nth-of-type(1):not(.container-header) {
          display: grid;
          max-width: 1600px !important;
          grid-template-columns: 130px 1fr 1fr;
          grid-template-areas: "logo info breadcrumb" "logo info navigation";
          margin: 0;
          overflow: visible;
     }
     .panel-logo-chapter {
          grid-area: logo;
          border-radius: var(--BR2);
          width: 100%;
          border: var(--B1);
          margin-bottom: 0;
          display: flex;
          align-items: center;
     }
     .panel-chapter-info-top {
          grid-area: info;
          border-radius: var(--BR2);
          margin: 0;
          border: var(--B1);
     }
     .body-site>.container:nth-of-type(1) .panel-breadcrumb {
          grid-area: breadcrumb;
          border-radius: var(--BR2);
          height: 100px;
          width: 710px;
          overflow: hidden;
          border: var(--B1);
          margin: 0;
     }
     .body-site>.container:nth-of-type(1) .panel-navigation {
          grid-area: navigation;
          border-radius: 5px;
          width: 710px;
          height: 40px;
          border: var(--B1);
          margin: 0;
     }
     .panel-chapter-info-top h1 {
          font-size: 15pt;
     }
     .panel-navigation .navi-change-chapter-btn a,
     .panel-navigation .navi-change-chapter {
          border-radius: var(--BR2);
          background-color: var(--C1) !important;
     }
     /* Inferior Part */
     div>a>img[style*="float: left"] {
          overflow: visible;
          position: absolute;
          margin-left: -430px !important;
          border: var(--B1);
          border-radius: var(--BR1);
          width: 150px !important;
          height: 135px !important;
     }
     div[style*="max-height: 380px"] {
          margin: 0 auto !important;
     }
     .container:not([class*="container-"]) {
          display: grid; 
          width: auto; 
          margin: 0; 
          grid-template-areas: "nav" "crumb" "comments"; 
          grid-template-columns: 1fr; overflow: visible;
     }
     .body-site>.container:not(:first-of-type)>.panel-navigation {
          grid-area: nav;
          width: 710px;
          height: 40px;
          margin-left: 490px;
          border: var(--B1);
          border-radius: var(--BR2);
     }
     .body-site>.container:not(:first-of-type)>.panel-breadcrumb {
          grid-area: crumb;
          width: 710px;
          height: 85px;
          margin-left: 490px;
          border: var(--B1);
          border-radius: var(--BR2);
     }
     .panel-chapter-comment {
          grid-area: comments;
          margin-left: 150px;
          border: var(--B1);
          border-radius: var(--BR1);
     }  
     .panel-chapter-info-bot,
     .server-image-caption {
          display: none;
     }
}
@-moz-document url-prefix("https://www.facebook.com/plugins") {
     /* Facebook Plugin*/
     html,body, :not([style*="color:"]) {
          color: #fff !important;
          background-color: #393552;
     }
}
