 @-moz-document domain("tudocelular.com") {
         /* Tudo Celular*/
         :root {
              --C1: #191724;
              --C2: #232136;
              --C3: #393552;
              --C4: #E0DEF4;
              --B1: 1px solid var(--C4);
              --BR1: 15px;
              --BR2: 5px;
         }
         * {
              color: var(--C4) !important;
         }
         body {
              background: none !important;
         }
         input,
         textarea,
         select,
         #tc_posts .textarea-wrapper {
              background-color: var(--C1) !important;
              border: 1px solid var(--C4) !important;
              border-radius: 5px;
         }
         
         /* Main Page */
          img:not([src*=".svg"]) {
          border-radius: var(--BR1);
          border: var(--B1) !important;
          }
          #main_container {
              background-color: var(--C2) !important;
         }
         #paginazione a,
         #paginazione .inattiva {
              background-color: var(--C1) !important;
              border-radius: 5px;
         }
         .apps,
         .gray_comments,
         .label_links a,
         #pg_0,
         .features,
         .plist_ratingcolumn .score,
         li.cpu strong,
         .label_links a.active,
         #simple_slider_cycle-next,
         #loginform,
         #main_footer .social a,
         #paginazione .attiva {
              background-color: var(--C3) !important;
              border-radius: 5px;
         }
         .gray_comments::before,
         .flechita,
         .cpu,
         .camera,
         .display,
         #bottomnav label::after,
         #topnav::before,
         #topnav::after,
         .bordes_container::before,
         .bordes_container::after,
         .movingbox,
         #main_footer {
              background: none !important;
         }
         #topnav,
         .submenu div.content,
         .submenu,
         .blue_theme .tile,
         #bottomnav,
         .tiles_holder .tile {
              background: var(--C3) !important;
              border-radius: 15px;
              border: 1px solid var(--C4);
         }
         #loginbtn,
         #register,
         .btn_more,
         .btn-more {
              background: var(--C1) !important;
         }
         .gray_comments {
              color: var(--C4) !important;
         }
         .title_newlist_normal .comment-gray {
              background: var(--C3) !important;
         }
         /* Compara */
         #compara,
         #versus,
         .bar_gray {
              background-color: var(--C3) !important;
         }
         /* Artigos */
         #related_notices,
         #important_notizes,
         blockquote {
              background: var(--C3) !important;
         }
         #comments {
              background-color: var(--C2) !important;
         }
         #tc_posts .btn {
              background: var(--C1) !important;
         }
         div[style*="padding-top: 10px"] {
              padding: 0 !important;
         }
         /* Tudo Android */
         .bar_thumb a {
              background-color: var(--C3) !important;
         }
         .dncomment, ._transparent .side_thumb a {
              background: var(--C3) !important;
         }
         /* Reviews */
         .noBounce, #left_menu, .news-list-item {
              background: var(--C3);
         }
         .news-list, #newslist, .content {
               background: var(--C2);
         }
         /* Celulares */
         .group_squares .buttons .buton,
         .group_squares > a,
         .title_bar .inactive,
         .ui-widget-content {
               background: none ;
         }
         /* Forum */
         .forumhead, #sidebar_container > ul, .wgo_block .blockhead, .threadlisthead, 
         /* Superior bars */ #home_links, #home_links_bottom, .body_wrapper, #register_button, 
         .popupbody,
         .postbitlegacy .posthead,
         .postbitlegacy .postfoot .textcontrols,
         .blockhead {
          background: var(--C1);
         }
         body, footer > .container, .bbcode_container div.bbcode_quote,
         .formcontrols .blockrow, .blockbody, .blocksubhead, .blockfoot {
               background: var(--C2) !important;
         }
         .forumbit_post .forumrow, #sidebar_container .blockrow,
         .navlinks, .wgo_block .blockbody, #forum_login, /* More Bars */
         .threadbit .nonsticky, .threadbit .alt, /* Threads */
         .popupbody li a, .navpopupmenu.popupmenu.nohovermenu a.popupctrl, .textcontrol, /* Popup Menu */
         .postbitlegacy .postbody, .eventbit .eventdetails .eventbody, .postbitlegacy .userinfo, .postbitlegacy .postdetails /* Posts*/
         { 
              background: var(--C3) !important;              
         }
         #login_button, .toolsmenu, 
         .postbitlegacy .postfoot .textcontrols a.newreply, .postbit .postfoot .textcontrols a.newreply, .postbitlegacy .postfoot .textcontrols a.quickreply,
         #bannerRight300x250,
         .actionbuttons .group .button, #home_links ul .selected {
          background: none !important;
         }
    }
