/* === UserStyles.world === */

:root {
  --C1: #191724 !important;
  --C2: #232136 !important;
  --C3: #393552 !important;
  --C4: #E0DEF4 !important;
  --B1: 1px solid var(--C4) !important;
  --BR1: 15px !important;
  --BR2: 5px !important;
  --bg-3: var(--C1) !important;
}

* {
  color: var(--C4) !important;
}

html body {
  background: var(--C2) !important;
}

input,
textarea,
select {
  background-color: var(--C1) !important;
  border: var(--B1) !important;
  border-radius: var(--BR1) !important;
}

table {
  background: var(--C3) !important;
}

.navbar,
.card,
.Footer {
  background: var(--C3) !important;
}

.Box,
.btn,
.btn.primary,
.Pagination,
pre {
  background-color: var(--C1) !important;
}

.icon.flex.ai\:c,
.spoiler {
  background: var(--C2) !important;
}

.Form-box {
  background: var(--C1) !important;
}

form:not(.Form),
.form-wrapper:not(.Form) {
  background: var(--C3) !important;
}
