 @-moz-document domain("wikipedia.org") {
               /* Wikipedia */
        :root {
               --C1: #191724;
               --C2: #232136;
               --C3: #393552;
               --C4: #E0DEF4;
               --B1: 1px solid var(--C4);
               --BR1: 15px;
               --BR2: 5px;
          }
          /* Generic Elements */
          * {
               color: var(--C4) !important;
          }
          
          input,
          textarea,
          select {
               background-color: var(--C1) !important;
               border: var(--B1) !important;
               border-radius: var(--BR2) !important;
          }
          /* Articles */
          .mw-page-container, .mw-header.vector-header {
               background-color: var(--C2) !important;
          }
          .vector-dropdown .vector-dropdown-content, .cdx-menu, .fundo, .rt-content,
          .infobox, .side-box, .sidebar, figcaption,  figure[typeof~="mw:File/Thumb"], .wikitable, .catlinks, #footer-icons a, .ambox, .quotebox, .portal-bar-bordered, .sidebar-content,
          .mwe-popups .mwe-popups-container, .navbox, .navbox-even, .navbox-odd, .navbox-abovebelow, .noprint.navigation-box, .infobox-subheader, .infobox-full-data, .infobox-below {
               background-color: var(--C3) !important;
          }
          .cdx-button.cdx-search-input__end-button, .vector-pinnable-header-toggle-button, .infobox-header, .skin-nightmode-reset-color, .mw-collapsible.mw-collapsed.mw-made-collapsible, .sidebar-list-title,
          .sidebar-heading, .sidebar-navbar, .sidebar-title,
          .infobox-above, .navbox-title, .navbox-group {
               background-color: var(--C1) !important;
          }
          /* Tables*/
          th[scope*="col"], th[colspan], th[rowspan], .headerSort, thead {
               background-color: var(--C1) !important;
          }
          [style*="background:#e0e0e0"], th[scope="row"],.tracklist tr, .table-yes, .table-na, 
          [style*="background:#E9E9E9"], [style*="background:#D7D5D7"], [style*="background:#151518"], [style="background:#B6CDFB"], td[colspan="12"] {
               background-color: var(--C3) !important
          }
          .wikitable > * > tr > th, td[style*="background"] {
               background: none ;
          }
          /* Declutter Page */
          .vector-user-links,
          .vector-sticky-pinned-container::after,
          .reflist 
          {
               display: none;
          }
     }
